*
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
    box-sizing: border-box
h1, h2, p
    margin: 0
    padding: 0
html
    font-size: 0.052083333333333336vw
button
    border: none
    cursor: pointer
@import 'promotion'